* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 3px solid #1f2a44;
  box-shadow: 0 0 25px rgba(20, 23, 45, 0.2);
}


td {
  border: 2px solid #1f2a44;
  padding: 16px 26px;
  text-align: center;
  font-weight: 600;
  color: #162236;
  background: #d3acac;
}
/*Selecciono relativamente los "tr"td" por indice (numero)*/
tbody tr:nth-child(2) td {
  background: #ff0004;
}

tbody td:nth-child(3) {
  background: #0095ff;
}

tbody tr:nth-child(2) td:nth-child(3) {
  background: #ff6200;
}

tbody tr:nth-child(3) td:nth-child(2) {
  background: #00ffa2;
}
/*Selecciono el primer "hiujo" de "tr"td"*/
tbody tr:first-child td:first-child,
tbody tr:last-child td:last-child {
  background: #3c00ff;
}
